/* MacBook Air - 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: relative;
width: 1280px;
height: 832px;

background: #FFFFFF;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 32px;

width: 1280px;
height: 832px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* VeV CPMS */

width: 1248px;
height: 50px;

/* v-text/h3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 50px;
/* identical to box height, or 104% */
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Charging stations */

width: 181px;
height: 32px;

/* v-text/h5 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 32px;
/* identical to box height, or 139% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* mat-table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1248px;
height: 288px;

background: #FFFFFF;
/* default */
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* mat-body */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 1248px;
height: 288px;

background: #FFFFFF;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* span */

width: 176px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

/* grey/darken-1 */
color: #757575;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* span */

width: 176px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

/* grey/darken-1 */
color: #757575;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* span */

width: 176px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

/* grey/darken-1 */
color: #757575;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* span */

width: 176px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

/* grey/darken-1 */
color: #757575;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* black/0.87 */
color: rgba(0, 0, 0, 0.87);


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* span */

width: 176px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 20px;
/* or 167% */
display: flex;
align-items: center;
letter-spacing: 0.4px;

/* grey/darken-1 */
color: #757575;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* green/green */
color: #4CAF50;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* blue/blue */
color: #2196F3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* blue/blue */
color: #2196F3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* green/green */
color: #4CAF50;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frozen Yogurt */

width: 176px;
height: 28px;

/* v-text/body-2 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.25px;

/* green/green */
color: #4CAF50;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 208px;
height: 288px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 1;


/* th-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 70px;
height: 40px;

/* custom/success */
background: #4CAF50;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Start */

width: 38px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 68px;
height: 40px;

/* custom/error */
background: #FF5252;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Stop */

width: 36px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 68px;
height: 40px;

/* custom/error */
background: #FF5252;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Stop */

width: 36px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 70px;
height: 40px;

/* custom/success */
background: #4CAF50;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Start */

width: 38px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* td-text-start */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 208px;
height: 48px;

background: #FFFFFF;
box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.12);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 70px;
height: 40px;

/* custom/success */
background: #4CAF50;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Start */

width: 38px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* mat-data-footer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 8px;
gap: 34px;

display: none;
width: 1058px;
height: 58px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Create a charging station */

width: 257px;
height: 32px;

/* v-text/h5 */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 32px;
/* identical to box height, or 139% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 1248px;
height: 232px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 630px;
height: 176px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 295px;
height: 176px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 02 Input Field with Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 295px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name */

width: 295px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 295px;
height: 48px;

background: #FFFFFF;
border: 1px solid #E0E0E0;
/* Button Shadow */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 263px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #828282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 02 Input Field with Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 295px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Model */

width: 295px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 295px;
height: 48px;

background: #FFFFFF;
border: 1px solid #E0E0E0;
/* Button Shadow */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 263px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #828282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 295px;
height: 176px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 02 Input Field with Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 295px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Brand */

width: 295px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 295px;
height: 48px;

background: #FFFFFF;
border: 1px solid #E0E0E0;
/* Button Shadow */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 263px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #828282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 02 Input Field with Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 295px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Power (kw) */

width: 295px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Field */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 16px;
gap: 8px;

width: 295px;
height: 48px;

background: #FFFFFF;
border: 1px solid #E0E0E0;
/* Button Shadow */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 263px;
height: 24px;

/* Small text

Small text
*/
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

color: #828282;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 00 Primary button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 70px;
height: 40px;

background: #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Save */

width: 38px;
height: 24px;

/* Small text */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
