
table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 3px;
  .charging {
    color: #4CAF50;
  }
  .available {
    color: #2196F3;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
  th {
    color: #757575;
  }
}
:host ::ng-deep tr {
  border-bottom: 1px solid #ddd;
}

:host ::ng-deep tr:last-child {
  border-bottom: none;
}

:host ::ng-deep th, ::ng-deep app-table td {
  padding: 8px;
  text-align: left;
}
