<form [formGroup]="form" (ngSubmit)="doSubmit()">
  <div class="part part1">
    <span class="item">
      <label for="name">Name</label>
      <input id="name" placeholder="name" type="text" formControlName="name">
      <div *ngIf="hasError('name')">
        <small *ngIf="hasError('name', 'required')">name is required.</small>
      </div>
    </span>
    <span class="item">
      <label for="model">Model</label>
      <input id="model" placeholder="model" type="text" formControlName="model">
      <div *ngIf="hasError('model')">
        <small *ngIf="hasError('model', 'required')">model is required.</small>
        <small *ngIf="hasError('model', 'pattern')">alnum only</small>
      </div>
    </span>
  </div>
  <div class="part part2">
    <span class="item">
      <label for="brand">Brand</label>
      <input id="brand" placeholder="brand" type="text" formControlName="brand">
      <div *ngIf="hasError('brand')">
        <small *ngIf="hasError('brand', 'required')">brand is required.</small>
        <small *ngIf="hasError('brand', 'maxlength')">20 chars at most.</small>
        <small *ngIf="hasError('brand', 'pattern')">letters only</small>
      </div>
    </span>
    <span class="item">
      <label for="power">Power (kW)</label>
      <input id="power"
             max="22"
             min="5"
             placeholder="power"
             type="number" formControlName="power">
        <div *ngIf="hasError('power')">
          <small *ngIf="hasError('power', 'required')">power is required.</small>
          <small *ngIf="hasError('power', 'min')">min 5kW</small>
          <small *ngIf="hasError('power', 'max')">max 22kW</small>
        </div>
    </span>
  </div>
  <app-button [disabled]="!form.valid" [formButton]="true" submit>Save</app-button>
</form>
