form {
  gap: 10px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

input {
  width: 139px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid grey
}
label {
  padding: 5px 0;
}

small {
  color:red;
}

.part {
  gap: 0 20px;
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
